# clang-format -i --style=file <file>
# find . -iname '*.cpp' -o -iname '*.h' -o -iname '*.h.in' | xargs clang-format -i --style=file
BasedOnStyle : Google
Language:                               Cpp
Cpp11BracedListStyle:                   true
Standard:                               Cpp11
