[submodule "src/sparsepp"]
	path = src/sparsepp
	url = https://github.com/greg7mdp/sparsepp.git
[submodule "src/--force"]
	path = src/--force
	url = https://github.com/greg7mdp/sparsepp.git
[submodule "src/xxHash"]
	path = src/xxHash
	url = https://github.com/Cyan4973/xxHash.git
